:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}
.tzuyu{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 2.4em;
  font-size: 45px;
  color: #2253a3;
}
.dahyun{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 8.8em;
  font-size: 45px;
  color: white;
}
.jihyo{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 36em;
  font-size: 45px;
  color: #f9cc85;
}
.momo{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 22.4em;
  font-size: 45px;
  color: pink;
}
.sana{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 29.4em;
  font-size: 45px;
  color: #8c79b4;
}
.chaeyoung{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 14.8em;
  font-size: 45px;
  color: #e62722;
}
.mina{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 42.7em;
  font-size: 45px;
  color: #71c7d4;
}
.jeongyeon{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 48.25em;
  font-size: 45px;
  color: #a3cc54;
}
.nayeon{
  position: absolute;
  top: 9em;
  bottom: ;
  left: 55.5em;
  font-size: 45px;
  color: #49c0ec;
}
body {
  width: 184%;
  height: 80vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f9c596, #fc5d9d,#f9c596);
}
.logo{
  position: relative;
  top: 16em;
  bottom:em;
  left: 90em;
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
div:hover {
  background: #EA00FF;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #EA00FF,
              0 0 25px #EA00FF,
              0 0 50px #EA00FF,
              0 0 100px #EA00FF;
}
.tzuyu:hover {
  background: #2253a3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2253a3,
              0 0 25px #2253a3,
              0 0 50px #2253a3,
              0 0 100px #2253a3;
}
.dahyun:hover {
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px white,
              0 0 25px white,
              0 0 50px white,
              0 0 100px white;
}
.chaeyoung:hover {
  background: #e62722;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #e62722,
              0 0 25px #e62722,
              0 0 50px #e62722,
              0 0 100px #e62722;
}
.momo:hover {
  background: pink;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px pink,
              0 0 25px pink,
              0 0 50px pink,
              0 0 100px pink;
}
.sana:hover {
  background: #8c79b4;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #8c79b4,
              0 0 25px #8c79b4,
              0 0 50px #8c79b4,
              0 0 100px #8c79b4;
}
.jihyo:hover {
  background: #f9cc85;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f9cc85,
              0 0 25px #f9cc85,
              0 0 50px #f9cc85,
              0 0 100px #f9cc85;
}
.mina:hover {
  background: #71c7d4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #71c7d4,
              0 0 25px #71c7d4,
              0 0 50px #71c7d4,
              0 0 100px #71c7d4;
}
.jeongyeon:hover {
  background: #a3cc54;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #a3cc54,
              0 0 25px #a3cc54,
              0 0 50px #a3cc54,
              0 0 100px #a3cc54;
}
.nayeon:hover {
  background: #49c0ec;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #49c0ec,
              0 0 25px #49c0ec,
              0 0 50px #49c0ec,
              0 0 100px #49c0ec;
}
.col-footer p{
  height:0em;
  margin-top: ;
  position: absolute;
  top: 1em;
  text-align: center;
}
.box {
  position: relative;
  height:  400px;
  width: 380px;
  display: block;
  background: linear-gradient(0deg, black, #444444);
}

.card::before{
  content: '';
  position: absolute;
  left: -2px;
  top: -7px;
  background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 9px);
  z-index: -1;
  animation: glower 20s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}