* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 *behavior: url( '/theme/js/boxsizing.htc' );
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
  -webkit-overflow-scrolling: touch;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
audio, canvas, video {
  display: inline-block;
*display: inline;
*zoom: 1;
}
audio:not([controls]) {
  display: none;
}
canvas {
  -ms-touch-action: double-tap-zoom;
}
 [hidden] {
display: none;
}
a {
  text-decoration: underline;
  color: #000;
}
a:hover {
  text-decoration: none;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
sup, sub {
  font-size: 75%;
  line-height: 0;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
pre {
  display: block;
  overflow: auto;
}
code {
  font-family: 'Courier New', Courier, monospace;
}
ul, ol {
  list-style: none;
}
table {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: hide;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
input, textarea {
  -webkit-appearance: none;
}
button, input, select, textarea {
  vertical-align: baseline;
*vertical-align: middle;
  -webkit-border-radius: 0;
}
button, input {
  line-height: normal;
*overflow: visible;
}
table button, table input {
*overflow: auto;
}
button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration {
display: none;
}
input[type='search'] {
  -webkit-appearance: textfield;
}
input[type='radio'] {
  -webkit-appearance: radio;
}
input[type='checkbox'] {
  -webkit-appearance: checkbox;
}
input::-ms-clear {
display: none;
}
input[type='password']::-ms-reveal {
display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
*:first-child+html .clearfix {
  zoom: 1;
}
.cleaner {
  height: 0;
  line-height: 0;
  clear: both;
}

/********** End RESET **********/



html {
  font-size: 100%;
}
body, a, a:hover {
  color: #111;
  background-color: #72A0C1;
}
a {
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
a, a:hover {
  text-decoration: none;
}
#nav {

  width: 60em; /* 1000 */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  top: 1em;
  left: 50%;
  margin-left: -30em; /* 30 480 */
}
#nav > a {
  display: none;
}
#nav li {
  position: relative;
}
#nav li a {
  color: black;
  display: block;
}

#nav span:after {
  width: 0;
  height: 0;
  border: 0.313em solid transparent; /* 5 */
  border-bottom: none;
  border-top-color: #efa585;
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -0.313em; /* 5 */
}
/* first level */

      #nav > ul {
  height: 3.75em; /* 60 */
  background-color: transparent;
}
#nav > ul > li {
  width: 25%;
  height: 100%;
  float: left;
}
#nav > ul > li > a {
  height: 100%;
  font-size: 1.5em; /* 24 */
  line-height: 2.5em; /* 60 (24) */
  text-align: center;
}
#nav > ul > li:not( :last-child ) > a {
  border-right: 1px solid #cc470d;
}
#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {
  background-color: transparent;
}
/* second level */

  #nav li ul {
  background-color: transparent;
  display: none;
  position: absolute;
  top: 100%;
}
#nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
}
#nav li:not( :first-child ):hover ul {
  left: -1px;
}
#nav li ul a {
  font-size: 1.25em; /* 20 */
  border-top: 1px solid #e15a1f;
  padding: 0.75em; /* 15 (20) */
}
#nav li ul li a:hover, #nav li ul:not( :hover ) li.active a {
  background-color: transparent;
}
 @media only screen and ( max-width: 62.5em ) /* 1000 */ {
#nav {
  width: 100%;
  position: static;
  margin: 0;
}
#nav {
  position: relative;
  top: auto;
  left: auto;
}
#nav > a {
  width: 3.125em; /* 50 */
  height: 3.125em; /* 50 */
  text-align: left;
  text-indent: -9999px;
  position: relative;
}
#nav > a:before, #nav > a:after {
  position: absolute;
  border: 2px solid #fff;
  top: 35%;
  left: 25%;
  right: 25%;
  content: '';
}
#nav > a:after {
  top: 60%;
}
#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {
  display: block;
}
/* first level */

      #nav > ul {
  height: auto;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
#nav:target > ul {
  display: block;
}
#nav > ul > li {
  width: 100%;
  float: none;
}
#nav > ul > li > a {
  height: auto;
  text-align: left;
  padding: 0 0.833em; /* 20 (24) */
}
#nav > ul > li:not( :last-child ) > a {
  border-right: none;
  border-bottom: 1px solid #cc470d;
}
/* second level */

        #nav li ul {
  position: static;
  padding: 1.25em; /* 20 */
  padding-top: 0;
}
}
video{
  position: relative;
  right: 20em;
  bottom: 0.47em;
  min-width: 100.63%;
  min-height: 100%;
}
.col-footer p{
  height:0em;
  margin-top: 52em;
  position: relative;
  top: 1em;
  text-align: center;
}
.mission{
    background: #6495ED;
    box-shadow: 1px 2px 36px -6px rgba(0,0,0,1);
    position: relative;
    left: 2em;
  top:13.1em;
    bottom: 13em;
    height:27em;
    width:20em;
    color:white;


}
.mission p{
    position: relative;
    top: 5em;
    left: 1em;
    font-size:20px;
    width: 14em;
      overflow: hidden;

}
.mission h1{
    position: absolute;
    left: 1em;
    top: 0.3em;
    color: white;
      font-size: 50px;
     font-family: 'Trebuchet MS' ; 
}
.goal{
    background: #6495ED;
    box-shadow: 1px 2px 36px -6px rgba(0,0,0,1);
    position: absolute;
    left: 32.5em;
    top:87.34em;
    height:27em;
    width:20em;
    color:white;
      overflow: hidden;


}
.goal p{
    position: relative;
    top: 5em;
    left: 1em;
    font-size:20px;
    width: 14em;

}
.goal h1{
    position: absolute;
    left: 1.8em;
    top: 0.2em;
    color: white;
      font-size: 50px;
     font-family: 'Trebuchet MS' ; 
}
.vision{
    background: #6495ED;
    box-shadow: 1px 2px 36px -6px rgba(0,0,0,1);
    position: absolute;
    left: 62em;
    top:87.25em;
    height:27em;
    width:20em;
    color:white;
    overflow: hidden;
}

.vision p{
    position: relative;
    top: 5em;
    left: 1em;
    font-size:20px;
    width: 14em;

}
.vision h1{
    position: absolute;
    left: 1.5em;
    top: 0.2em;
    color: white;
      font-size: 50px;
     font-family: 'Trebuchet MS' ; 
}
:root {
  --hs: 225, 100%;
  --paper: hsl(var(--hs), 25%);
  --highlight: hsl(var(--hs), 45%);
  --shadow: hsl(var(--hs), 15%);
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(8rem, 23vw + 1rem, 20rem);
  letter-spacing: 0.1em;
  display: grid;
  place-items: center;
  grid-template-areas: "text";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(305deg, tomato, gold, cyan);
  margin: 0;

  & > *,
  &::after {
    grid-area: text;
  }

  &::after {
    content: attr(data-text);
    color: var(--paper);
    transform: translate(0.1em, 0.1em);
    filter: drop-shadow(0.015em 0.015em 0.025em var(--shadow));
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(var(--highlight), var(--paper));
  }
}
.welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: gray;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

.welcome::before {
  content: "WELCOME";
  position: absolute;
  color: black;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.welcome{
  top: 2.5em;
  left: 5.5em;
}
.welcome::after {
  content: "WELCOME";
  position: absolute;
  color: #00308F;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.welcome:hover:before {
  top: 10px;
  left: 10px;
}

.welcome:hover:after {
  top: -10px;
  left: -10px;
} 
.easternian {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: gray;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

.easternian::before {
  content: "EASTERNIAN";
  position: absolute;
  color: black;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

.easternian{
  top: 4em;
  left: 5.5em;
}
.easternian::after {
  content: "EASTERNIAN";
  position: absolute;
  color: #00308F;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

.easternian:hover:before {
  top: 10px;
  left: 10px;
}

.easternian:hover:after {
  top: -10px;
  left: -10px;
} 
.img {
  bottom: 34em;
  left: 0.2em;
  height: 100px;
  position: absolute;

}